.main {
  flex-grow: 1;
  min-height: 100vh;
}
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 5s linear infinite;
    width: calc(200px *9);
    -webkit-animation: scroll 30s linear infinite;
}
.slider .slide{
    width: 200px;
}
.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
    100%{
        
        -webkit-transform:translateX(calc(-200px *10));
        transform:translateX(calc(-200px *10));
        
    }
}
